@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

:root {
  --primary-color: #5281ce;
  --secondary-color: #ff9a9f;
  --tertiary-color: #39c56a;

  --text-color: #fbfbfb;
  --text-secondary-color: #bfbfd4;
  --text-tertiary-color: #7f7f98;

  --text-dark: #212427;

  --primary-font-regular: "Montserrat", sans-serif;
  --heading-font-bold: "Helvetica", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
  color: var(--text-dark);
  font-family: var(--primary-font-regular);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  width: 100%;
  height: 100%;
  padding: 40px 50px 40px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-image: url(../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-right {
  width: 100%;
  height: 100%;
  background-color: #656e83;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.resume {
  background-color: white;
  height: 90%;
  max-width: 498px;
  max-height: 701px;
  aspect-ratio: 1 / 1.4142;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.header,
.footer {
  font-size: 17rem;
}

.header {
  margin-top: 25px;
}

.footer {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

.github-logo {
  width: 22px;
  height: 22px;
  background-image: url(../assets/img/github-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.entry-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9%;
}

.start-btn {
  margin-top: 40px;
  appearance: none;
  border: none;
  outline: none;
  font-size: 23rem;
  border-radius: 20px;
  padding: 16px 60px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--primary-font-regular);
  font-weight: 600;
}

.start-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading-text {
  font-weight: 1000;
  font-family: var(--heading-font-bold);
  font-size: 75rem;
  margin-bottom: 8px;
}

.heading-subtext {
  font-size: 25rem;
}

.dropdown {
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.dropdown-active {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.dropdown-content {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 20px 40px 20px;
}

.dropdown-active .caret {
  transform: rotate(180deg);
}

.dropdown-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dropdown-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caret {
  width: 20px;
  height: 20px;
  background-image: url(../assets/img/caret.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.brush-icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/img/brush.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/img/user.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.education-icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/img/education.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.experience-icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/img/experience.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown-text {
  font-size: 18rem;
  font-weight: bold;
}

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo {
  padding: 5px 10px;
  font-weight: 1000;
  font-family: var(--heading-font-bold);
  border-radius: 6px;
  font-size: 20rem;
}

.load-example-btn {
  padding: 6px 10px 6px 10px;
  appearance: none;
  border: none;
  border-radius: 6px;
  font-size: 16rem;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.load-icon {
  width: 16px;
  height: 16px;
  background-image: url(../assets/img/example.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.clear-btn {
  padding: 6px 10px 6px 10px;
  appearance: none;
  border: none;
  border-radius: 6px;
  font-size: 16rem;
  background-color: #f7665f;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.clear-icon {
  width: 16px;
  height: 16px;
  background-image: url(../assets/img/clear.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.download-btn {
  padding: 6px 10px 6px 10px;
  appearance: none;
  border: none;
  border-radius: 6px;
  font-size: 16rem;
  background-color: var(--tertiary-color);
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.download-icon {
  width: 16px;
  height: 16px;
  background-image: url(../assets/img/download.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.display-block {
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.input-field {
  flex: 1;
}

.dropdown-content input {
  width: 100%;
}

.input-styling {
  padding: 9px;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #eeeeee;
  margin-top: 5px;
  font-size: 16rem;
  transition: border 300ms ease-in-out;
  border: 2px solid transparent;
}

.input-styling:focus {
  border: 2px solid var(--text-secondary-color);
}

.about-section {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
  padding: 20px;
}

.about-section textarea {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-regular);
  font-size: 16rem;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #eeeeee;
  appearance: none;
  outline: none;
  transition: border 300ms ease-in-out;
  resize: none;
}

.about-section textarea:focus {
  border: 2px solid var(--text-secondary-color);
}

.resume-header {
  width: 100%;
  padding: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-header-left {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  color: var(--text-color);
}

.resume-header-right {
  font-size: 11rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: var(--text-color);
  gap: 7px;
}

.image-container {
  width: 73px;
  height: 73px;
  background-image: url(../assets/img/user-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.position-title {
  font-size: 13rem;
}

.fullname {
  font-weight: bold;
  font-size: 18rem;
}

.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.email-icon {
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/email.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.address-icon {
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/location.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.phone-icon {
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.resume-body {
  width: 100%;
  padding: 30px;
}

.resume-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  position: relative;
}

.heading-line {
  width: 5px;
  height: 25px;
}

.heading-title {
  font-weight: bold;
  font-size: 16rem;
  font-family: var(--heading-font-bold);
}

.resume-section {
  margin-bottom: 15px;
}

.resume-section-content {
  width: 100%;
  padding: 15px;
  font-size: 14rem;
  font-family: var(--heading-font-bold);
}

.school-resume {
  font-family: var(--heading-font-bold);
  font-weight: bold;
}

.degree-resume {
  margin-top: 5px;
  font-size: 12rem;
  font-family: var(--heading-font-bold);
}

.school-date {
  margin-top: 5px;
  font-size: 12rem;
  color: var(--text-tertiary-color);
  font-family: var(--heading-font-bold);
}

.resume-footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  color: var(--text-color);
}

.customize {
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.color-container {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.color-container:hover {
  transform: scale(1.1);
}

.blue {
  background-color: var(--primary-color);
}

.orange {
  background-color: #f4832c;
}

.purple {
  background-color: #966fd6;
}

.green {
  background-color: #39c56a;
}

.pink {
  background-color: #ffb0b0;
}

/*Media Queries*/

/* Phones */
@media only screen and (max-width: 767px) {
  html,
  body {
    height: 100svh;
  }
  .entry-container {
    padding: 0px 15px;
  }
  .heading-text {
    font-size: 55rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .heading-subtext {
    font-size: 18rem;
    text-align: center;
  }
  .entry-main {
    margin-bottom: 50%;
  }
  .resume-container {
    height: 100svh;
    display: block;
    background-color: red;
  }
  .container-left {
    padding: 20px 15px 50px 15px;
    overflow-y: visible;
    height: auto;
  }
  .container-right {
    height: 800px;
  }
  .nav-bar {
    justify-content: center;
    padding: 10px;
  }
  .nav-left {
    display: none;
  }
  .nav-right {
    width: 100%;
    justify-content: space-between;
  }
  .download-btn {
    flex: 1;
    padding: 10px 14px 10px 14px;
  }
  .clear-btn {
    flex: 1;
    padding: 10px 14px 10px 14px;
  }
  .load-example-btn {
    flex: 1;
    padding: 10px 14px 10px 14px;
  }
  .flex {
    display: block;
  }
  .pb-5 {
    padding-bottom: 0px;
  }
  .input-field {
    padding-bottom: 23px;
  }
  .about-section {
    height: 400px;
  }
  .resume {
    border-radius: 0px;
  }
  .color-container {
    width: 27px;
    height: 27px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html,
  body {
    height: 100svh;
  }
  .entry-container {
    padding: 0px 15px;
  }
  .heading-text {
    font-size: 60rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .heading-subtext {
    font-size: 21rem;
    text-align: center;
  }
  .start-btn {
    font-size: 26rem;
  }
  .entry-main {
    margin-bottom: 50%;
  }
  .resume-container {
    height: 100svh;
    display: block;
    background-color: red;
  }
  .container-left {
    padding: 20px 15px 50px 15px;
    overflow-y: visible;
    height: auto;
  }
  .container-right {
    height: 800px;
  }
  .download-btn {
    flex: 1;
    padding: 10px 16px 10px 16px;
  }
  .clear-btn {
    flex: 1;
    padding: 10px 16px 10px 16px;
  }
  .load-example-btn {
    flex: 1;
    padding: 10px 16px 10px 16px;
  }
  .input-field {
    padding-bottom: 23px;
  }
  .resume {
    border-radius: 0px;
  }
}
